@model Category
@{
    ViewData["Title"] = "UpdateCategory";
}

<h1>UpdateCategory</h1>


@using (Html.BeginForm("UpdateCategory","Categories",FormMethod.Post))
{
    @Html.HiddenFor(model=>model.CategoryId)
    <br />
    @Html.LabelFor(model=>model.CategoryName,new{@style="font-size:25px;"})
    @Html.TextBoxFor(model=>model.CategoryName,new{@class="form-control",placeholder="Kategori adı girin"})
    <br />
    <button type="submit" class="btn btn-outline-success">Güncelle</button>
}



